/*------------------------------------------------------------------
[Master Responsive Stylesheet]

Project     :	Fickle Responsive Admin Template
Version     :	1.0
Author      : 	AimMateTeam
URL         :   http://aimmate.com
Support     :   aimmateteam@gmail.com
Primary use :	Layout & All Pages

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

+ MIN-WIDTH :   MAX-WIDTH : 7680PX
+ MIN-WIDTH :   MAX-WIDTH : 1545PX
+ MIN-WIDTH :   MAX-WIDTH : 1279PX
+ MIN-WIDTH :   MAX-WIDTH : 1023PX
+ MIN-WIDTH :   MAX-WIDTH : 767PX
+ MIN-WIDTH :   MAX-WIDTH : 600PX
+ MIN-WIDTH :   MAX-WIDTH : 480PX
+ MIN-WIDTH :   MAX-WIDTH : 400PX
+ MIN-WIDTH :   MAX-WIDTH : 359PX
+ IE10 & IE11 ISSUE FIXED



 /*------------------------------------------------------------------
   ----------  MIN-WIDTH : 7680PX -----------
-------------------------------------------------------------------*/
@media all   and (min-width: 7680px) {
    .panel-task-border {
        width: 17%;
    }
}

/*------------------------------------------------------------------
  ----------  MAX-WIDTH : 7680PX -----------
-------------------------------------------------------------------*/
@media all   and (max-width: 7680px) {
    .panel-task-border {
        width: 17%;
    }

    .name_tabs {
        display: inline;
    }

    /*** Profile ***/
    .ls-user-subscriber .ls-user-box-content {
        margin-left: -150px;
    }

    .ls-user-details .user-detail .user-pic {
        /*left: 135px;*/
    }

}

@media all   and (max-width: 1800px) {

    ul.ul-tree li .margin_left_minus11 {
        margin-top: 10px;
        margin-left: -185px;
    }

    ul.ul-tree li .margin_left_minus10 {
        margin-top: 10px;
        margin-left: -150px;
    }

    ul.ul-tree li .margin_left_minus9 {
        margin-top: 10px;
        margin-left: -115px;
    }

    ul.ul-tree li .margin_left_minus8 {
        margin-top: 10px;
        margin-left: -80px;
    }
}

/*------------------------------------------------------------------
  ---------- MAX-WIDTH : 1545PX -----------
-------------------------------------------------------------------*/
@media all  and (max-width: 1545px) {
    .name_tabs {
        display: none;
    }

    li.active .name_tabs {
        display: inline;
    }

    .panel-task-border {
        /*width: 20%;*/
        min-width: 152px;
    }

    ul.ul-tree li .margin_left_minus11 {
        margin-top: 10px;
        margin-left: -165px;
    }

    ul.ul-tree li .margin_left_minus10 {
        margin-top: 10px;
        margin-left: -130px;
    }

    ul.ul-tree li .margin_left_minus9 {
        margin-top: 10px;
        margin-left: -95px;
    }

    ul.ul-tree li .margin_left_minus8 {
        margin-top: 10px;
        margin-left: -60px;
    }
}

/*------------------------------------------------------------------
   ---------- MAX-WIDTH : 1279PX -----------
-------------------------------------------------------------------*/
@media all   and (max-width: 1279px) {
    .name_tabs {
        display: inline;
    }

    .ls-user-details .ls-user-info .ls-user-text {
        min-width: 320px;
    }

    .user-friend-list ul li img {
        width: 70px;
        height: 70px;
    }

    .panel-task-border {
        width: 40%;
    }

}

/*------------------------------------------------------------------
  ----------  MAX-WIDTH : 1023PX -----------
-------------------------------------------------------------------*/
@media all and  (max-width: 1023px) {
    .panel-task-border {
        width: 28%;
    }

    /****** Index Page  ******/
    .ls-user-details .ls-user-info .ls-user-text {
        min-width: 255px;
    }

    .feature-weather ul li a {
        padding: 10px 5px;
    }

    .change-color-switch ul li {
        margin: 0;
    }

    /****** Index Page End ******/
    /* Ls Two Column Icon Gap*/
    .ls-two-column-icon:hover div.ls-icons-link {
        left: 25%;
    }

    .ls-two-column-icon:hover div.ls-icons-remove {
        right: 25%;
    }

    /* Ls Three Column Icon Gap*/
    .ls-three-column-icon:hover div.ls-icons-link {
        left: 12%;
    }

    .ls-three-column-icon:hover div.ls-icons-remove {
        right: 12%;
    }

    /* Ls Four Column Icon Gap*/
    .ls-four-column-icon:hover div.ls-icons-link {
        left: 3%;
    }

    .ls-four-column-icon:hover div.ls-icons-remove {
        right: 3%;
    }

    /** profile **/
    .ls-user-details .user-detail .user-pic {
        /*left: 235px;*/
    }

    .ls-user-skills ul li div.ls-skill-list .ls-progress {
        width: 73%;
    }

    .ls-project ul li img {
        width: 85px;
    }

    .ls-user-subscriber .ls-user-box-content {
        margin-left: -30px;
    }

    .ls-user-subscriber .ls-user-box-content h1 {
        font-size: 16px;
    }

    .ls-bottom-gap {
        margin-bottom: 20px;
    }

    .ls-user-details .ls-user-info .ls-user-text {
        min-width: 300px;
    }

    .user-friend-list ul li img {
        width: 60px;
        height: 60px;
    }

    .progress.vertical {
        margin: 0 5px;
    }

    /**************** Timeline ***************/
    .ls_tmtimeline > li .ls-timeline-user {
        padding-right: 10px;
        width: 16%;
    }

    .ls_tmtimeline > li .ls-timeline-user .media a {
        float: none !important;
    }

    .ls_tmtimeline > li .ls-timeline-user img {
        margin: 0 auto;
    }

    .ls-timeline-user .media-heading {
        margin-top: 0;
    }

    .ls_tmtimeline > li .ls_tmicon {
        left: 20%;
    }

    .ls_tmtimeline:before {
        left: 20%;
    }

    .ls_tmtimeline > li .ls_tmlabel {
        margin-left: 28%;
        min-height: 160px;
    }

    .ls_tmtimeline > li .ls_tmicon_ls {
        left: 17.5%;
    }

    .ls_tmtimeline > li .ls_tmlabel iframe {
        height: 250px;
    }

    /*****************************************/
    /** Pricing Table **/
    .basic ul li:first-child div.basic-price-simple {
        bottom: -13px;
    }

    .basic ul li:first-child div.basic-price-simple h3 span.doller {
        font-weight: 300;
        font-size: 20px;
        top: 0;
    }

    .basic ul li:first-child div.basic-price-simple h3 {
        font-weight: 300;
        font-size: 20px;
    }

    .basic ul li:first-child div.basic-price-simple h3 span {
        font-weight: 300;
        font-size: 16px;
    }

    /** Profile **/
    .ls-hover-effect a.info {
        left: -67px;
        top: -73px;
    }

    /** slider 2 **/
    .ls-slider-content {
        text-align: center;
    }
}

/*------------------------------------------------------------------
  ----------  MAX-WIDTH : 1023PX -----------
-------------------------------------------------------------------*/
@media all and  (max-width: 900px) {
    .panel-task-border {
        width: 54%;
    }
}

/*------------------------------------------------------------------
  ----------  MAX-WIDTH : 767PX -----------
-------------------------------------------------------------------*/
@media all and   (max-width: 767px) {
    .panel-task-border {
        width: 90%;
    }

    #task_page_details_parent {
        width: 600px;
    }

    .search-box {
        display: none;
    }

    /****** Index Page  ******/
    .menu-control {
        display: block;
    }

    .pie-widget {
        margin-bottom: 15px;
    }

    .monthlySale .progress.vertical {
        width: 30px;
    }

    .progress.vertical {
        margin: 0 5px;
    }

    .seriesToggleWidget {
        width: 100%;
        height: 210px;
    }

    #choicesWidget {
        width: 100%;
        text-align: center;
    }

    #choicesWidget li {
        display: inline-block;
        margin-bottom: 0;
        margin-top: 15px;
    }

    .current-weather {
        margin-top: 15px;
    }

    .current-weather-icon {
        padding-top: 7%
    }

    .feature-weather ul li a {
        padding: 10px 35%;
    }

    /****** Index Page End ******/
    .nav.icon-tab > li > a {
        padding: 5px 10px;
    }

    .icon-tab.nav-tabs.nav-justified {
        border-bottom: 1px solid #e0e0e0;
    }

    .icon-tab.nav-tabs.nav-justified > li {
        float: left;
    }

    .icon-tab.nav-tabs.nav-justified > li > a {
        border-radius: 1px;
        -moz-border-radius: 1px;
        -webkit-border-radius: 1px;
        margin-right: 0;
        margin-bottom: 0;
    }

    .icon-tab.nav-tabs.nav-justified > .active > a,
    .icon-tab.nav-tabs.nav-justified > .active > a:hover,
    .icon-tab.nav-tabs.nav-justified > .active > a:focus {
        border-bottom: 1px solid #fff;
    }

    .icon-list li i {
        font-size: 20px;
    }

    /****** Ui Element page start ******/
    .demo-btn .btn, .demo-btn .btn-group, .demo-btn .switchery, .demo-btn .bootstrap-switch {
        margin-bottom: 15px;
    }

    /****** Ui Element page End   ******/
    /** Slider 2 **/
    .ls-slider-content,
    .ls-slider-title {
        display: none;
    }

    .ls-user-feature ul {
        top: 140px;
        right: 13px;
    }

    .user-profile-tab {
        margin-top: 150px;
    }

    /****** Index Page  ******/
    .setting-widget, .skyWeather {
        margin-bottom: 10px;
    }

    .current-status-widget ul {
        margin-top: 15px;
    }

    .current-status-widget ul li {
        width: 50%;
        float: left;
    }

    .social-share-box {
        margin-top: 15px;
    }

    /****** Index Page  end ******/
    /****** mail page Start******/
    .mail-contact-address {
        width: 70%;
    }

    /****** mail page end******/
    .ls-circle-widget {
        height: 150px;
        width: 150px;
    }

    .ls-circle-widget i {
        line-height: 150px;
        font-size: 50px;
    }

    .ls-circle-widget h1 {
        font-size: 12px;
    }

    .ls-circle-widget:hover i, .ls-circle-widget.active i {
        padding-top: 30px;
    }

    /** profile **/
    .ls-user-details .ls-user-info .ls-user-text,
    .ls-user-details .ls-user-info .ls-user-text2 {
        padding: 5px 5px 5px 116px;
    }

    .ls-user-details .ls-user-info .ls-user-text p {
        margin-bottom: 0;
    }

    .ls-user-details .ls-user-info .ls-user-text2 h4 {
        margin-bottom: 0;
    }

    .ls-user-feature ul {
        margin-top: 20px;
        text-align: center;
    }

    .ls-user-feature ul li #ls-user-friends {
        display: block !important;
    }

    .ls-profession {
        border-bottom: 1px solid #ddd;
        margin: 0 14px 20px;
    }

    .ls-user-skills ul li div.ls-skill-list .ls-progress {
        width: 78%;
    }
}

/*------------------------------------------------------------------
   ----------   MAX-WIDTH : 600PX -----------
-------------------------------------------------------------------*/
@media all and  (max-width: 600px) {
    .panel-task-border {
        width: 100%;
    }

    /** Profile **/
    .ls-user-details .user-detail .user-pic {
        /*left: 345px;*/
    }

    .ls-project ul li img {
        width: 160px;
    }

    /** Timeline **/
    .ls_tmtimeline > li .ls_tmicon {
        left: 26%;
    }

    .ls_tmtimeline:before {
        left: 21%;
    }

    .ls_tmtimeline > li .ls-timeline-user {
        padding-right: 25px;
        width: 25%;
    }
}

/*------------------------------------------------------------------
   ----------   MAX-WIDTH : 510PX -----------
-------------------------------------------------------------------*/
@media all and  (max-width: 510px) {
    .phone-nav-box {
        position: fixed;
        top: 0;
        display: block;
        z-index: 9999;
        width: 100%;
    }

    #task_page_details_parent {
        width: 400px;
    }

    /****** Index Page  ******/
    .phone-nav-box.visible-xs {
        display: none !important;
    }

    .feature-weather ul li a {
        padding: 10px 10px;
    }

    .change-color-switch ul li {
        margin: 0 0 0 5px;
    }

    .social-share-box {
        height: auto;
    }

    .icon-tab.icon-tab-home li a span {
        display: inline-block;
    }

    /****** Index Page End ******/
    .icon-tab li a span {
        display: none;
    }

    /***** mail page start *****/
    .mail-navigation li {
        width: 60px
    }

    .mail-contact-address {
        width: 65%;
    }

    .mail-contact-user-image-box {
        width: 35%;
    }

    .mail-contact-user-image-box {
        width: 20%;
    }

    ul.attachments-preview-list li {
        margin-right: 10px;
    }

    .ls-mail-img img {
        width: 100px;
    }

    /***** mail page End   *****/
    /***** Form page  Start ******/
    .form-horizontal .form-group {
        margin-left: 0;
    }

    .input-group {
        margin-bottom: 15px;
    }

    form.ls_form_horizontal {
        margin: 0 0 0 -15px;
    }

    /***** Form page  end   ******/
    /************************Timeline************************/
    .ls_tmtimeline > li .ls_tmlabel {
        margin-left: 35%;
    }

    .ls_tmtimeline > li .ls_tmlabel iframe {
        height: 250px;
    }

    .ls_tmtimeline > li .ls_tmicon_ls {
        margin-left: 7px;
    }

    .ls_tmlabel ul.task li {
        margin-bottom: 10px;
    }

    /** TimeLine **/
    .ls_tmtimeline > li .ls_tmicon {
        left: 25%;
    }

    .ls_tmtimeline:before {
        margin-left: 25px;
    }

    /**********************************************************/
    .ls-gallery-search {
        text-align: left;
        margin-top: 25px;
    }

    /* Ls Two Column Icon Gap*/
    .ls-two-column-icon:hover div.ls-icons-link {
        left: 20%;
    }

    .ls-two-column-icon:hover div.ls-icons-remove {
        right: 20%;
    }

    /* Ls Three Column Icon Gap*/
    .ls-three-column-icon:hover div.ls-icons-link {
        left: 8%;
    }

    .ls-three-column-icon:hover div.ls-icons-remove {
        right: 8%;
    }

    /** Pricing Table **/
    .basic ul li:first-child div.ls-hex-bage:after {
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
    }

    .android ul li:first-child h3 {
        font-size: 34px;
        padding-top: 18px;
    }

    .android ul li:first-child p {
        margin: -10px 0 20px;
    }

    .basic-simple ul li:first-child .basic-simple-package h3,
    .basic-simple ul li:first-child .basic-standard-package h3,
    .basic-simple ul li:first-child .basic-premium-package h3 {
        font-size: 30px;
    }

    .basic-simple ul li:first-child div.basic-price-simple h3 {
        font-size: 34px;
    }

    /**profile **/
    .ls-user-skills ul li div.ls-skill-list .ls-progress {
        width: 77%;
    }

    .ls-project ul li img {
        width: 100px;
    }

    .user-profile-tab .icon-tab li a span {
        display: block;
    }

    .ls-user-details .ls-user-info .ls-user-text2 {
        padding: 5px 5px 5px 68px;
    }

    .ls-hover-effect a.info {
        left: -60px;
        top: -63px;
    }

    /* Slider */
    .ls-slider-title {
        height: 45px;
        margin: 0px 15px 0;
    }

    .ls-slider-title h2 {
        font-size: 17px;
    }

    .ls-slider-content {
        text-align: center;
    }

    .phone-nav-box.visible-xs {
        display: block !important;
    }

    .top-navigation {
        display: none;
        float: none;
        text-align: center;
    }

    .top-navigation ul {
        float: none;
    }

    .top-navigation ul li {
        text-align: left;
    }

    .navigation a h1 {
        line-height: 45px;
        font-size: 35px;
    }

    .top-navigation .dropdown-menu.right.email-notification {
        left: -125px;
    }

    .top-navigation .dropdown-menu.right {
        left: -67px;
    }

    .top-navigation .dropdown-menu.right.top-dropDown-1 {
        left: -25px;
    }

    .header-logo {
        display: none;
    }

    /*Layout End */
    .header-logo {
        float: none;
        width: 100%;
    }

    .top-navigation ul li.only-phone {
        display: inline;
    }

    ul.mainNav {
        display: none;
    }

    #left-navigation ul.mainNav.mobile {
        width: 100%;
        top: 58px;
    }

    #left-navigation .user-image {
        display: none;
    }

    #left-navigation {
        position: relative;
        width: 100%;
    }

    #min-wrapper {
        padding-left: 0;
    }

    /********* Layout end *********/
    /****** Index Page  ******/
    .memberBox-details ul li {
        padding: 0 4%;
    }

    /****** Index Page  End******/
    /***** mail page start *****/
    .mail-contact-user-image-box {
        display: none;
    }

    .mail-contact-address {
        width: 100%;
    }

    .mail-action-bar ul li a {
        margin: 0 5px;
    }

    .ls-mail-img img {
        width: 98px;
    }

    .mail-contact-address {
        margin-top: 0px;
    }

    /***** mail page End   *****/
    /*Calender page start */
    span.fc-header-title h2 {
        font-size: 16px;
    }

    .fc .fc-header-space {
        padding-left: 5px;
    }

    .fc-button {
        padding: 0 4px;
    }

    .external-event {
        width: 47%;
    }

    /*Calender page end   */
    /***** Map page Start   *****/
    .world_map {
        height: 300px;
    }

    #map_decoration {
        height: 300px;
    }

    /***** Map page End   *****/
    /*****  Coming soon page Start  *****/
    .coming-soon h1 {
        font-size: 32px;
    }

    /*****  Coming soon page End    *****/
    /* Ls Four Column Icon Gap*/
    .ls-four-column-icon:hover div.ls-icons-link {
        left: 25%;
    }

    .ls-four-column-icon:hover div.ls-icons-remove {
        right: 25%;
    }

    /** Timeline **/
    .ls_tmtimeline > li .ls_tmlabel {
        margin-left: 42%;
    }

    .ls_tmtimeline > li .ls-timeline-user {
        width: 30%;
    }

    .ls_tmtimeline > li .ls_tmicon {
        left: 32%;
    }

    .ls_tmtimeline:before {
        margin-left: 40px;
    }

    .ls_tmtimeline > li .ls_tmicon_ls {
        margin-left: 10px;
    }

    /** Pricing table **/
    .android-active,
    .basic-active {
        transform: none;
    }

    .basic, .android, .basic-simple {
        margin: 0 10% 15%;
    }

    /** Profile **/
    .ls-user-details .user-detail .user-pic {
        /*left: 275px;*/
    }

    .ls-user-details .ls-user-links ul li {
        height: 30px;
        width: 30px;
        line-height: 33px;
    }

    .ls-user-skills ul li div.ls-skill-list .ls-progress {
        width: 73%;
    }

    .ls-project ul li img {
        width: 137px;
    }

    .ls-hover-effect a.info {
        left: -40px;
        top: -50px;
    }

    .ls-user-details .ls-user-info .ls-user-text,
    .ls-user-details .ls-user-info .ls-user-text2 {
        padding: 5px;
    }

    /*** TABLE ***/
    .dataTables_length {
        width: 100%;
    }

    .dataTables_filter {
        margin-top: 0;
        float: left;
        width: 100%;
        text-align: left;
    }

    .dataTables_paginate {
        float: left;
        margin-bottom: 30px;
        margin-top: 10px;
        text-align: left;
    }

    .dataTables_filter label input {
        width: 70%;
    }

    /*---------------UPDATE VERSTION v1.1 ADDITIONAL-----------------*/
    /*----Tree View-----*/
    .ls-tree-view .easy-tree-toolbar .create {
        float: right;
        width: 76%;
    }

    /****** Index Page  ******/
    .memberBox-details ul li {
        padding: 0 4%;
    }

    .current-status-widget ul li {
        float: none;
        width: 100%;
    }

    .feature-weather ul li a {
        padding: 10px 15%;
    }

    /****** Index Page  End******/
    /***** mail page start *****/
    .mail-action-bar ul li a {
        margin: 0 5px;
    }

    /***** mail page End   *****/
    /***** Form page  Start ******/
    .swMainVertical ul.anchor {
        width: 100%;
    }

    .swMainVertical ul.anchor li {
        float: none;
        display: inline-block;
    }

    /***** Form page  End ******/
    /*Element page start*/
    .demo-badge > span.badge {
        margin-bottom: 15px;
    }

    /*Element page End  */
    /*****  Chart Page page Start    *****/
    #choices li {
        display: list-item;
    }

    /*****  Chart Page page End    *****/
    /***********************Timeline**************************/
    .ls_tmtimeline > li .ls-timeline-user {
        /*position: absolute;*/
        width: 100%;
        height: 100%;
        z-index: 999;
    }

    .ls-timeline-user .media-heading {
        color: #FFFFFF;
        position: absolute;
        left: 95px;
        top: 20px;
        z-index: 999;
    }

    .ls_tmtimeline > li .ls_tmtime span:first-child {
        position: absolute;
        left: 95px;
        top: 45px;
        font-size: 13px;
        color: #252525 !important;
    }

    .ls_tmtimeline > li .ls_tmtime span:last-child {
        position: absolute;
        left: 95px;
        top: 55px;
        margin-top: 10px;
        font-size: 17px;
        color: #353535 !important;
    }

    .ls_tmtimeline > li .ls-timeline-user img {
        float: right;
        margin-top: 10px;
    }

    .ls_tmtimeline > li .ls-timeline-user .media-body {
        width: 100%;
    }

    .ls_tmtimeline > li .ls_tmlabel h2 {
        margin-top: 90px;
    }

    .ls_tmtimeline > li .ls_tmicon {
        left: 10%;
    }

    .ls_tmtimeline > li .ls_tmlabel {
        margin-left: 23%;
    }

    .ls_tmtimeline:before {
        margin-left: -13%;
    }

    .ls_tmtimeline > li .ls_tmicon_ls {
        margin-left: -17px;
    }

    .ls_tmlabel ul li {
        z-index: 9999;
    }
}

/*------------------------------------------------------------------
   ----------   MAX-WIDTH : 400PX -----------
-------------------------------------------------------------------*/
@media all and   (max-width: 400px) {
    .phone-nav-box {
        position: fixed;
        top: 0;
        display: block;
        z-index: 9999;
        width: 100%;
    }

    /*Layout element end*/
    /*Element Page Start*/
    .element-progress.v-progressbar .progress.vertical {
        width: 40px;
    }

    /*Element Page End*/
    /***** Map page Start   *****/
    .ls-map-locator ul li a span {
        font-size: 10px;
    }

    .ls-map-locator ul li a i.fa {
        font-size: 20px;
    }

    .ls-map-locator ul li a img {
        width: 25px;
    }

    /***** Map page end  *****/
    /***** Chart page Start *****/
    .d3-round-pic {
        height: 250px;
    }

    #choices li {
        width: 100%;
    }

    /***** Chart page end *****/
    /***** Form page Start *****/
    .swMain .buttonFinish, .swMain .buttonNext, .swMain .buttonPrevious,
    .swMainVertical .buttonFinish, .swMainVertical .buttonNext, .swMainVertical .buttonPrevious {
        width: 75px;
    }

    .radio-inline, .checkbox-inline {
        padding-left: 0;
    }

    .ls_form .form-group label.radio-inline,
    .ls_form .form-group label.checkbox-inline {
        padding-left: 20px;
    }

    .popoverBox, .modal-preview button.btn {
        margin-bottom: 10px;
    }

    /***** Form page End *****/
    /* Ls Two Column Icon Gap*/
    .ls-two-column-icon:hover div.ls-icons-link {
        left: 20%;
    }

    .ls-two-column-icon:hover div.ls-icons-remove {
        right: 20%;
    }

    /* Ls Three Column Icon Gap*/
    .ls-three-column-icon:hover div.ls-icons-link {
        left: 20%;
    }

    .ls-three-column-icon:hover div.ls-icons-remove {
        right: 20%;
    }

    /* Ls Four Column Icon Gap*/
    .ls-four-column-icon:hover div.ls-icons-link {
        left: 20%;
    }

    .ls-four-column-icon:hover div.ls-icons-remove {
        right: 20%;
    }

    /* Pricing Table */
    .basic-simple {
        margin: 0 10% 20%;
    }

    /** Profile **/
    .ls-user-details .ls-user-name,
    .ls-user-details .ls-user-links ul {
        text-align: center;
    }

    .ls-user-details .user-detail {
        margin-top: 160px;
    }

    .ls-user-details .user-detail .user-pic {
        /*left: 105px;*/
        /*top: -150px;*/
        height: 150px;
        width: 150px;
    }

    .ls-user-details .user-detail .user-pic img {
        height: 130px;
        width: 130px;
    }

    .ls-user-details .user-detail .ls-user-position,
    .ls-user-details .user-detail address {
        width: 100%;
    }

    .ls-user-details .ls-user-info .ls-user-text,
    .ls-user-details .ls-user-info .ls-user-text2 {
        padding: 5px;
        margin: 10px -5px;
        text-align: left;
    }

    .ls-user-details .ls-user-info .ls-user-text2 h4 {
        padding-bottom: 10px;
    }

    .ls-friends-info-wrap img {
        margin-right: 5px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 50%;
        top: 45px;
    }

    .ls-friends-info h4 {
        text-align: center;
    }

    .ls-friends-info ul {
        text-align: center;
        margin-top: 130px;
        margin-bottom: 15px;
    }

    .ls-friends-info address {
        text-align: center;
    }

    .ls-friends-about h3 {
        text-align: center;
        margin-top: 0;
    }

    /** mail **/
    .ls-mail-img img {
        width: 153px;
    }

    /** Calender **/
    .fc-header-title {
        position: absolute;
        left: 0;
        right: 0;
    }

    .fc-header-center {
        height: 77px;
    }

    .fc-header-left,
    .fc-header-right {
        position: absolute;
        top: 50px;
    }

    .fc-header-left {
        text-align: left;
        left: 20%;
    }

    .fc-header-right {
        text-align: right;
        right: 29%;
    }

    button.addEvent {
        width: 96%;
    }

    .external-event {
        width: 96%;
    }

    /***** Widgets Page ****/
    .feed-box ul.ls-feed li {
        font-size: 12px;
    }

    .feed-box ul.ls-feed li span.date {
        font-size: 10px;
        padding-right: 7px;
    }

    /*---------------UPDATE VERSTION v1.1 ADDITIONAL-----------------*/
    /*----Tree View-----*/
    .ls-tree-view .easy-tree-toolbar .create {
        float: right;
        width: 68%;
    }

    .ls-tree-view .easy-tree-toolbar .create .input-group {
        left: -96px;
        margin-bottom: 25px;
        position: relative;
        top: 5px;
        width: 144%;
        z-index: 999999;
    }

}

/*------------------------------------------------------------------
   ----------   MAX-WIDTH : 359PX -----------
-------------------------------------------------------------------*/
@media all and   (max-width: 359px) {

    #task_page_details_parent {
        width: 260px;
    }

    /*Layout element start*/
    .ls-glyphicons li {
        width: 50%;
    }

    .phone-nav-box {
        position: fixed;
        top: 0;
        display: block;
        z-index: 9999;
        width: 100%;
    }

    /***** mail page start *****/
    .mail-box-list {
        width: 100%;
    }

    .mail-body {
        width: 100%;
        padding-left: 0;
        margin-top: 15px;
    }

    .memberBox-details ul li {
        padding: 0 8%;
    }

    .mail-body.mail-body-inbox {
        padding-left: 0px;
    }

    .ls-mail-img img {
        width: 125px;
    }

    /***** mail page End   *****/
    /***** Map page Start   *****/
    .ls-map-locator ul li a i.fa {
        font-size: 20px;
    }

    .ls-map-locator ul li a img {
        width: 30px;
    }

    /***** Map page end     *****/
    /***** Widget page Start *****/
    .ls-circle-widget {
        height: 100px;
        width: 100px;
        margin-bottom: 15px;
    }

    .ls-circle-widget h1 {
        font-size: 11px;
    }

    .ls-circle-widget i {
        line-height: 100px;
        font-size: 30px;
    }

    .ls-circle-widget:hover i, .ls-circle-widget.active i {
        font-size: 20px;
        line-height: 40px;
        padding-top: 20px;
    }

    .ls-wizard, .weatherFeed, .simpleWeather, .ls-widget-box {
        margin-bottom: 15px;
    }

    /***** Widget page End   *****/
    /* Ls Two Column Icon Gap*/
    .ls-two-column-icon:hover div.ls-icons-link {
        left: 30%;
    }

    .ls-two-column-icon:hover div.ls-icons-remove {
        right: 30%;
    }

    /* Ls Three Column Icon Gap*/
    .ls-three-column-icon:hover div.ls-icons-link {
        left: 30%;
    }

    .ls-three-column-icon:hover div.ls-icons-remove {
        right: 30%;
    }

    /* Ls Four Column Icon Gap*/
    .ls-four-column-icon:hover div.ls-icons-link {
        left: 30%;
    }

    .ls-four-column-icon:hover div.ls-icons-remove {
        right: 30%;
    }

    /** Timeline **/
    .ls_tmtimeline:before {
        margin-left: 18px;
    }

    .ls_tmtimeline > li .ls_tmicon_ls {
        margin-left: -3px;
    }

    .ls_tmtimeline > li .ls-timeline-user {
        padding-right: 10px;
        width: 20%;
    }

    /** Pricing table **/
    .basic,
    .android,
    .basic-simple {
        margin: 0 10% 10%;
    }

    /*** Profile ***/
    .ls-user-details .ls-user-links ul {
        text-align: left;
        margin-top: 15px;
    }

    .ls-user-details .user-detail .user-pic {
        /*left: 380px;*/
        /*top: -45px;*/
    }

    .ls-user-details .user-detail .ls-user-position,
    .ls-user-details .user-detail address {
        width: 75%;
    }

    .ls-user-feature ul li #ls-user-friends {
        display: none !important;
    }

    .ls-user-skills ul li div.ls-skill-list .ls-progress {
        width: 75%;
    }

    .ls-project ul li img {
        width: 125px;
    }

    .ls-bottom-gap {
        margin-bottom: 20px;
    }

    .ls-hover-effect a.info {
        left: -45px;
        top: -55px;
    }

    /*** Tables ***/
    .dataTables_wrapper {
        margin: 10px;
    }

    .dataTables_length {
        float: none;
        width: 40%;
    }

    .dataTables_filter {
        margin-top: -45px;
        width: 60%;
    }

    /***** UI Element *****/
    .easy-pai-box button {
        margin-bottom: 20px;
    }

    /*** Form ***/
    .ls_form .form-group label.checkbox,
    .ls_form .form-group label.checkbox-inline {
        padding-top: 0;
    }

    .ls_form .form-group label.checkbox {
        margin-left: 20px;
    }

    .ls_form .form-group label.radio,
    .ls_form .form-group label.radio-inline {
        padding-top: 0;
    }

    /** Checkbox **/
    .icheck-radio-inline {
        padding-left: 0;
    }

    /** Calender **/
    button.addEvent {
        width: 50%;
    }

    .eventList {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .external-event {
        display: inline-block;
        width: 48%;
        margin: 4px;
        padding: 0;
    }

    .cal-event-remove {
        text-align: center;
        position: relative;
        margin: 20px 0;
    }

    /******* Index page start ******/
    .memberBox-details ul li {
        margin-bottom: 20px;
    }

    /******* Index page end ******/
    /******* Calender page Start ******/
    .fc-header-left {
        text-align: left;
        left: 16%;
    }

    .fc-border-separate tr.fc-last th, .fc-border-separate tr.fc-last td {
        font-weight: normal;
        font-size: 12px;
    }

    /******* Calender page End ******/
    /******* Map page Start ******/
    .ls-map-locator ul li {
        width: 18%;
    }

    /******* Map page End ******/
    /*************** TimeLine ******************/
    .ls-timeline-user .media-heading {
        left: 80px;
    }

    .ls_tmtimeline > li .ls_tmtime span:first-child,
    .ls_tmtimeline > li .ls_tmtime span:last-child {
        left: 80px;
    }

    .ls_tmlabel ul li img {
        width: 88px;
    }

    .ls_tmtimeline > li .ls_tmicon_ls {
        margin-left: -13px;
    }

    .ls_tmtimeline > li .ls_tmlabel iframe {
        height: 200px;
    }

    /** Pricing table **/
    .basic,
    .basic-simple {
        margin: 0 10% 20%;
    }

    /** Profile **/
    .ls-user-details .user-detail .user-pic {
        left: 85px;
    }

    .ls-user-skills ul li div.ls-skill-list .ls-progress {
        width: 67%;
    }

    .ls-project ul li img {
        width: 132px;
    }

    .ls-user-details .ls-user-info .ls-user-text, .ls-user-details .ls-user-info .ls-user-text2 {
        padding: 5px 5px 5px 5px;
    }

    .ls-hover-effect a.info {
        left: -45px;
        top: -50px;
    }

    /*** Mail ***/
    .ls-mail-img img {
        width: 132px;
    }

    /*---------------UPDATE VERSTION v1.1 ADDITIONAL-----------------*/
    /*----Tree View-----*/
    .ls-tree-view .easy-tree-toolbar .create {
        width: 63%;
    }

    .ls-tree-view .easy-tree-toolbar .create .input-group {
        width: 155%;
    }
}

/*------------------------------------------------------------------
   ----------------- IE10 & IE11 ISSUE FIXED --------------------
-------------------------------------------------------------------*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10+ specific styles go here */
    _:-ms-fullscreen, :root #grid .col-md-3,
    _:-ms-fullscreen, :root #grid .col-md-4,
    _:-ms-fullscreen, :root #grid .col-md-6,
    _:-ms-fullscreen, :root #grid .col-sm-6,
    _:-ms-fullscreen, :root #grid .col-sm-3,
    _:-ms-fullscreen, :root #grid .col-sm-4,
    _:-ms-fullscreen, :root #grid .col-sm-6,
    _:-ms-fullscreen, :root #grid .col-sm-12,
    _:-ms-fullscreen, :root #grid .col-xs-12 {
        padding: 0;
        margin: 0;
    }

    _:-ms-fullscreen, :root .m-row [class*="m-col-md"] {
        float: left;
        margin-left: 2% !important;
    }

    _:-ms-fullscreen, :root .m-row [class*="m-col-md"]:first-child {
        margin-left: 0;
    }

    _:-ms-fullscreen, :root .m-row .m-col-md-3 {
        width: 22.7777%;
    }

    _:-ms-fullscreen, :root .m-row .m-col-md-4 {
        width: 32%;
    }

    _:-ms-fullscreen, :root .m-row .m-col-md-6 {
        width: 49%;
    }
}

/*-----------------------------------------------------------------*/
